<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Paper Kit 2 by Creative Tim</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap core CSS     -->
	<link href="assets/css/bootstrap.min.css" rel="stylesheet" />
	<link href="assets/css/paper-kit.css?v=2.1.0" rel="stylesheet"/>

	<!--  CSS for Demo Purpose, don't include it in your project     -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">

    <!--     Fonts and icons     -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,300,700' rel='stylesheet' type='text/css'>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/nucleo-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/pen.css">

</head>

<body>  
    <nav class="navbar navbar-expand-md fixed-top">
        <div class="container">
            <div class="navbar-translate">
                <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar"></span>
                    <span class="navbar-toggler-bar"></span>
                    <span class="navbar-toggler-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Kupilaptop</a>
            </div>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="#!shop" class="nav-link"><i class="nc-icon nc-cart-simple"></i> Laptopi</a>
                    </li>
                    <li class="nav-item">
                        <a href="#!contact" class="nav-link"><i class="nc-icon nc-pin-3"></i> Kontakt</a>
                    </li>
                    <li class="nav-item">
                        <a href="#!adminPanel" class="nav-link"><i class="nc-icon nc-simple-add"></i> Dodaj proizvod</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link" href="#!login"><i class="nc-icon nc-single-02" aria-hidden="true"></i>&nbsp;Prijava</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    </nav>
        <div class="main">
        </div>
        <div class="single">
        <section class="site-section" id="section-features">
            <div class="container">
              <div class="row site-section">
                <div class="col-md-8">
                  <p><img src="assets/img/laptop_1.jpg" alt="" class="img-fluid"></p>
                </div>
                <div class="col-md-4">
                  <h3 class="mb-3">{{laptop_info.ime}}</h3> 
                  <ul clsass="site-list">
                      <div class="row">
                          <div class="col-md-6">
                            <h5>Brend : {{laptop_info.brend}} </h5> <br>
                          </div>
                          <div class="col-md-6">
                              <h5>Veličina : {{laptop_info.velicina}} </h5> <br>
                            </div>
                      </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5>Procesor : {{laptop_info.procesor}}- {{laptop_info.procesorVrsta}} Brzina: {{laptop_info.brzinaProcesora}}</h5> <br>
                    </div>
                </div>

                <div class="row">
                        <div class="col-md-4">
                          <h5>Ram : {{laptop_info.ram}} </h5> <br>
                        </div>
                        <div class="col-md-8">
                            <h5>Vrsta : {{laptop_info.ramVrsta}} </h5> <br>
                          </div>
                    </div>
                    <div class="row">
                            <div class="col-md-7">
                              <h5>Grafička : {{laptop_info.graficka}} </h5> <br>
                            </div>
                            <div class="col-md-5">
                                <h5>Veličina : {{laptop_info.kapacitetGraficke}} GB</h5> <br>
                              </div>
                        </div>

                        <div class="row">
                                <div class="col-md-3"></div>
                                    <div class="col-md-6">
                                            <h5 style="color:red; padding-left: 25px;">Cijena : {{laptop_info.cijena}} KM</h5> <br>
                                    </div>
                                   
                                </div>

                        <div class="row">
                            <div class="col-md-4"></div>
                                <div class="col-md-6">
                                        <div class="row" style="padding-top:2%;"><a class="add_cart_btn" style=" width: 150px; text-align: center" ng-href="#!/order/{{laptop_info.ime}}/{{laptop_info.cijena}}" >kupi</a></div>
                                </div>
                               
                            </div>
                    

                  </ul>
                  <ul>
                  </ul>
                </div>
              </div>
            </div>
          </section>
        </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <nav class="footer-nav">
                    <ul>
                        <li><a href="/">Kupilaptop</a></li>
                        <li><a href="#!shop">Laptopi</a></li>
                        <li><a href="#!contact">Kontakt</a></li>
                    </ul>
                </nav>
                <div class="credits ml-auto">
                    <span class="copyright">
                        <i class="fa fa-heart heart"></i>
                    </span>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
